.play-header{
    min-height: 60px;
    background: var(--bg-header);
    padding: .5rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-branding-header);
    font-family: var(--font-code);
    transition: background-color .3s;

}
.header-left{
    flex: 1;
    display: flex;
    align-items: center;
    img{
        width: 2.5rem;
        height: 2.5rem;
    }
    h1{
        font-size: 1.6rem;
        line-height: 1;
        margin: 0 1rem;
        font-weight: bold;
    }
    span{
        color: var(--text-light);
    }

}
.header-right{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .header-link{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 .5rem;
    }

    .icon{
        cursor: pointer;
        margin: 0 .5rem;
    }
}
.dark .play-header{
    background-color: var(--bg-header);
    .version-label,.icon, h1{
        color: var(--text-light);
    }
}

.header-setting{
    .header-setting--item{
        display: flex;
        align-items: center;
        margin: 1rem;
        .ant-switch{
            margin: 0 10px;
        }
        .anticon{
            cursor: pointer;
            margin: 0 10px;
        }
        .ant-select{
            margin: 0 10px;
        }
        .label{
            margin: 0;
        }

    }

}

/* mobile */
@media (max-width: 980px) {
    .version-select,.version-label{
        display: none;
    }
    .play-header{
        flex-direction: column;
    }

    .header-left{
        display: flex;
        align-items: center;
        img{
            width: 2rem;
            height: 2rem;
        }
        h1{
            font-size: 1rem;
            line-height: 1;
            margin: 0 1rem;
            font-weight: bold;
        }

    }
    .header-right{
        .header-link{
            width: 1rem;
            height: 1rem;
            margin: 0 .5rem;
        }

        .icon{
            cursor: pointer;
            margin: 0 .5rem;
        }
    }
}
