.play-ground{
    width: 100vw;
    height: 100vh;
    --bg: #fff;
    --bg-soft: #f8f8f8;
    --border: #ddd;
    --text-light: #888;
    --font-code: Menlo, Monaco, Consolas, 'Courier New', monospace;
    --color-branding: #42b883;
    --color-branding-dark: #416f9c;
}

.dark .play-ground {
    --bg: #1a1a1a;
    --bg-soft: #242424;
    --border: #383838;
    --text-light: #aaa;
    --color-branding: #42d392;
    --color-branding-dark: #89ddff;
}

:deep(button) {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
}
