.play-ground{
  --bg-header: #fff;
  --color-branding-header: #42b883;
  --bg-container: #f8f8f8;
  --bg-toggler: #fff;
  --bg-preview: #f8f8f8;
  --text-light: #888;
  --font-code: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --border: #ddd;
  --selector-h: 38px;

}

.dark .play-ground {
  --bg-header: #1a1a1a;
  --color-branding-header: #89ddff;
  --bg-container: #242424;
  --bg-toggler: #1a1a1a;
  --bg-preview: #242424;
  --text-light: #aaa;
  --font-code: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --border: #383838;
  --selector-h: 38px;
}